   {%load static%}
   <!-- Sidebar -->
        <ul class="navbar-nav warnasidebar sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="{%static "img/logo kkn .png"%}" style="width: 50px; height:auto; ">
                </div>
                <div class="sidebar-brand-text mx-3">SipanduGapit </div>
            </a>
            <!-- Divider -->                    

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
               
                <a class="nav-link effect" href="\dashboard">
                 <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Administrasi
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
          
              <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item effect">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                   <i class="fas fa-table"></i>
                    <span>Kelola Data</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Data</h6>
                        <a class="collapse-item" href="/datapenduduk">Data Penduduk</a>
                        <a class="collapse-item" href="/datakartukeluarga">Data Kartu Keluarga</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item effect">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-people-arrows"></i>
                    <span>Kelola Surat</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Surat Menyurat</h6>
                        <a class="collapse-item" href="{%url 'suratmenyurat:list' %}">Surat Keterangan Usaha</a>
                        <a class="collapse-item" href="/sktm">SKTM</a>
                        <a class="collapse-item" href="/suratketerangankematian">Surat Keterangan Kematian</a>
                        <a class="collapse-item" href="/suratketerangankematian">Surat Keterangan Kelahiran</a>
                        
                    </div>
                </div>
            </li>
            <li class="nav-item effect">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsesurat"
                    aria-expanded="true" aria-controls="collapsesurat">
                    <i class="fas fa-people-arrows"></i>
                    <span>Sirkulasi Penduduk</span>
                </a>
                <div id="collapsesurat" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Kependudukan</h6>
                        <a class="collapse-item" href="/datalahir">Data Lahir</a>
                        <a class="collapse-item" href="/datameniggal">Data Meninggal</a>
                        <a class="collapse-item" href="/datapendatang">Data Pendatang</a>
                        <a class="collapse-item" href="/datapindah">Data Pindah</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Nav Item - Charts -->
            <li class="nav-item effect">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-users"></i>
                    <span>Management pengguna</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <form method="POST">
                {% csrf_token%}
            <li class="nav-item effect">
                <a class="nav-link" href="{%url 'login:logout'%}">
                    <i class="fas fa-sign-out-alt"></i><span> Logout
                    </span></a>
            </li>
            </form>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{%static "img/undraw_rocket.svg"%}" alt="...">
                <p class="text-center mb-2"><strong>PROGRAM MERDEKA KKN UTS DESA GAPIT 2021 </strong> Bersama kita membangun Desa</p>
                <a class="btn btn-success effect btn-sm" href="https://www.instagram.com/promerkkndesagapit/">Our profiles</a>
            </div>

        </ul>
        <!-- End of Sidebar -->