{%extends "snippets/base.html"%}
{%block maincontent%}
    <div class="container col-6">
        <div class="">
            <h1 class="mb-4 mt-10">{{textberjalan}}</h1>
            <form method="POST">
                {% csrf_token %}
                {% for form in postanggotakeluarga %} 
                     <div class="form-group">
                        {{form.label}}
                        {{form}}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
    
{%endblock maincontent%}